In [1]:
import Pre_Processing_PD_Model as prepro

### Checking directories

In [2]:
dir(prepro)

['LogisticRegression',
 'ModelPreProcessing',
 'RandomForestClassifier',
 'SMOTE',
 'StandardScaler',
 'XGBClassifier',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 'balanced_features',
 'balanced_target',
 'classification_report',
 'data_to_scale',
 'df',
 'features',
 'np',
 'os',
 'pd',
 'plt',
 'sns',
 'target',
 'train_test_split']

In [3]:
df = prepro.pd.read_csv(r"C:\Users\user\Desktop\ML Learning\Credit risk project\credit_risk_dataset.csv")

In [4]:
df.head()

,person_age,person_income,person_home_ownership,person_emp_length,loan_intent,loan_grade,loan_amnt,loan_int_rate,loan_status,loan_percent_income,cb_person_default_on_file,cb_person_cred_hist_length
0,22,59000,RENT,123.0,PERSONAL,D,35000,16.02,1,0.59,Y,3
1,21,9600,OWN,5.0,EDUCATION,B,1000,11.14,0,0.10,N,2
2,25,9600,MORTGAGE,1.0,MEDICAL,C,5500,12.87,1,0.57,N,3
3,23,65500,RENT,4.0,MEDICAL,C,35000,15.23,1,0.53,N,2
4,24,54400,RENT,8.0,MEDICAL,C,35000,14.27,1,0.55,Y,4

In [5]:
data_to_scale, features, target, balanced_features, balanced_target = prepro.ModelPreProcessing(df)

In [6]:
import pickle

In [7]:
with open('logisticPDmodel.pkl','rb') as file:
    logisticPDmodel = pickle.load(file)

In [8]:
with open('RandomForestPDmodel.pkl','rb') as file:
    RandomForestPDmodel = pickle.load(file)

In [9]:
with open('XgbPDmodel.pkl','rb') as file:
   XgbPDmodel = pickle.load(file)

In [10]:
logestic_prediction = logisticPDmodel.predict(features)

In [15]:
xgb_prediction = XgbPDmodel.predict(features)

In [11]:
from sklearn.metrics import classification_report

In [16]:
print(classification_report(target,xgb_prediction))

              precision    recall  f1-score   support

           0       0.94      0.99      0.96     24846
           1       0.96      0.77      0.85      6825

    accuracy                           0.94     31671
   macro avg       0.95      0.88      0.91     31671
weighted avg       0.94      0.94      0.94     31671

In [21]:
import pandas as pd

In [18]:
xgb_prediction.shape

(31671,)

In [19]:
features.shape

(31671, 16)

In [27]:
Xgb_pred = pd.DataFrame(xgb_prediction,columns = ['Xgb_Pred'])

In [32]:
Final_data = pd.concat([data_to_scale,Xgb_pred.reset_index(drop = True)],axis= 1)

In [33]:
Final_data.head()

,person_age,person_income,person_emp_length,loan_amnt,loan_int_rate,loan_percent_income,cb_person_cred_hist_length,Xgb_Pred
0,21,9600,5.0,1000,11.14,0.10,2,0
1,25,9600,1.0,5500,12.87,0.57,3,1
2,23,65500,4.0,35000,15.23,0.53,2,1
3,24,54400,8.0,35000,14.27,0.55,4,1
4,21,9900,2.0,2500,7.14,0.25,2,1